Link{
    background-color: black;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
}

.post-card{
    background-color: black;
    justify-content: flex-start;
    align-items: flex-start;  
    ;
}